<div id="gioithieukhoahoc" style="padding-bottom: 20px;">
    <div>
        <br>
        <div class="mx-auto p-1 btn-danger text-white text-center" style="width: 200px; height: 40px; margin-bottom: 15px; font-size: 20px;line-height: 30px; font-weight: bolder; border-radius: 30px;">
            Đăng Ký Ngay
        </div>
        <p style=" letter-spacing: 3px;text-align: center;color:#0f355c;font-weight: bolder;font-size:36px;">Ai Có Thể Theo Học Khóa Lập Trình Của VTI ACADEMY</p>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="row" style="border-right: 2px solid #315271; text-align: center;padding-bottom: 10px;"><i class='fas fa-user-graduate' style='font-size:30px;color:#0f355c'></i></th>
                    <th scope="row" style="  line-height: 20px!important;padding-bottom: 15px; padding-left:12px;font-size: 24px;">Bạn Đang Là Sinh Viên Ngành CNTT</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" style="border-right: 2px solid #315271;text-align: center;"><i class='fas fa-thumbs-up' style='font-size:30px;color:#0f355c'></i></th>

                    <td>Bạn Muốn Học Thêm Một Ngành Tay Trái</td>

                </tr>
                <tr>
                    <th scope="row" style="border-right: 2px solid #315271;text-align: center;"><i class='fas fa-share' style='font-size:30px;color:#0f355c'></i></th>
                    <td>Bạn Muốn Chuyển Ngành Học Sang CNTT</td>

                </tr>
                <tr>
                    <th scope="row" style="border-right: 2px solid #315271;text-align: center;"><i class="fa fa-money" style="font-size:30px;color:#0f355c"></i></th>
                    <td colspan="2">Bạn Đã đi làm và mong muốn đổi nghề để có thu nhập tốt</td>

                </tr>
                <tr>
                    <th scope="row" style="border-right: 2px solid #315271;text-align: center;"><i class='fas fa-user-cog' style='font-size:30px;color:#0f355c'></i></th>
                    <td colspan="2">Bạn chưa từng học IT nhưng có niềm đam mê công nghệ</td>

                </tr>

            </tbody>
        </table>
    </div>


</div>
