<div class="jumbotron-fluid text-center eight" id="eight">
    <div class="container-fluid " style="margin-top: 30px;">
        <div class="row">
            <div class="col-sm-6 text-left">
                <div class="container">
                    <img height="80" width="120" style="margin-left: 25px;" src="./assets/img/logo03.png">
                    <ul class="list-group list-group-flush float-left" style="border: 0px;">

                        <li class="list-group-item"><i style="font-size: 16px; color: #e3be31;" class="fas fa-map-marker-alt"></i> &nbsp;Tầng 7 - Số 19 - Lê Thanh Nghị - Hai Bà Trưng - Hà Nội
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tầng 6 - Toàn nhà AC - Số 78 - Duy Tân - Cầu Giấy - Hà Nội
                        </li>
                        <li class="list-group-item"><i style="font-size: 16px; color: #e3be31;" class="fas fa-phone-alt"></i> &nbsp;0865. 359. 388
                            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0243 3668 8599
                        </li>
                        <li class="list-group-item"><i style="font-size: 16px; color: #e3be31;" class="fas fa-info-circle"></i> &nbsp;info@vtiacademy.edu.vn</li>
                        <li class="list-group-item"><i style="font-size: 16px; color: #e3be31;" class="fas fa-globe"></i> &nbsp;vtiacademy.edu.vn</li>

                    </ul>
                </div>

            </div>
            <div class="col-sm-6 ">
                <h3>VUI LÒNG ĐỂ LẠI THÔNG TIN ĐỂ ĐƯỢC TƯ VẤN</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 text-right">
                            <input type="text" class="form-control" [(ngModel)]="sign_name" id="formGroupExampleInput" placeholder="HỌ TÊN">
                        </div>
                        <div class="col-sm-6 text-left">
                            <input type="text" class="form-control" [(ngModel)]="sign_phone" id="formGroupExampleInput" placeholder="SỐ ĐIỆN THOẠI">
                        </div>
                    </div>
                    <input type="text" class="form-control mt-4" [(ngModel)]="sign_note" id="formGroupExampleInput" placeholder="Thông tin cần hỗ trợ">

                    <button (click)="addSign()" style="color: 2f4956; font-weight: bolder; border-radius: 0px; float: left; width: 100px;" type="button" class="btn btn-outline-warning mt-4">Gửi</button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row mt-4">
                <div class="col-sm-4 text-left">
                    <img height="80" width="80" src="https://previews.123rf.com/images/faysalfarhan/faysalfarhan1502/faysalfarhan150200897/36475982-phone-icon-glassy-blue-button.jpg">
                </div>
                <div class="col-sm-4 text-center">
                    <button style="border-radius: 20px;" type="button" class="btn btn-danger">Đăng Ký Test
                <br>Nhận Học Bổng
              </button>
                </div>
                <div class="col-sm-4 text-right">
                    <a href="m.me/605688189628554"><i class='fas fa-comment-dots' style='font-size:60px;color:rgb(4, 247, 255)'>  </i></a>
                </div>
            </div>
        </div>

    </div>

</div>