<mat-toolbar color="primary">
    <mat-toolbar color="primary">
        <button mat-icon-button>
   <mat-icon>menu</mat-icon>
 </button>
        <span>VTI ACADEMY</span>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">

                <li>
                    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
                </li>
                <li>
                    <button mat-icon-button>
          <mat-icon>help</mat-icon>
        </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>
                    person_outline
                  </mat-icon></button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                      <mat-icon>exit-to-app</mat-icon>
                      Sign out
                    </button>

                    </mat-menu>

                </li>

            </ul>

        </div>
    </mat-toolbar>
</mat-toolbar>