<div class="jumbotron-fluid text-center six" id="six">
    <h2 style="text-align: center;color: #0f355a;font-weight: bolder;">Học Viên Chia Sẻ</h2>
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-4 centered">
                <img width="200" height="200" src="./assets/img/team/1.jpg" style="border-radius: 100px;" alt="...">
                <h3>Nguyễn Thị Ngọc</h3>
                <h5>Sinh Viên năm 3<br> Trường Kinh Tế Quốc Dân</h5>
                <p>"Mình quyết định lựa chọn khóa<br> đào tạo của bên VTI Academy<br> vì khung chương trình đào tạo rõ<br> ràng, hệ thống LMS trực tuyến<br> khá hấp dẫn, tạo hứng thú học tập<br> cho bọn mình. Đặc biệt, việc cam<br> kết đầu ra của khóa học"</p>
            </div>
            <div class="col-sm-4 centered">
                <img width="200" height="200" src="./assets/img/team/2.jpg" style="border-radius: 100px;" alt="...">
                <h3>Nguyễn Tất Thành </h3>
                <h5>Sinh Viên năm 4<br> Trường Kinh Tế Quốc Dân</h5>
                <p>"Môi trường học tập rất thoải mái,<br> các Mentor nhiệt tình giảng dạy, hỗ trợ mọi lúc,<br> video bài giảng dễ hiểu, không dàn trải,<br> lịch học hợp lí, học nghiêm túc thì sẽ có thể<br> làm ngay ở công ty..."</p>
            </div>
            <div class="col-sm-4 centered">
                <img width="200" height="200" src="./assets/img/team/3.jpg" style="border-radius: 100px;" alt="...">
                <h3>Nguyễn Thị Hà </h3>
                <h5>Sinh Viên năm 4<br> Khoa CNTT</h5>
                <p>"Trải nghiệm ngay từ những buổi đầu trong<br> chương huấn luyện EPD của học viện VTI <br>mình cảm thấy rất thú vị có hào hứng tìm hiểu<br> khối kiến thức mới này. Giảng viên tận tâm,<br> chia sẻ, giải đáp rất kỹ <br>trước những vướng mắc
                    mình gặp phải.<br> Đặc biệt, hỗ trợ nhiệt tình ngay cả<br> khi kết thúc giờ đào tạo..."</p>
            </div>
        </div>
    </div>
</div>
