<div class="jumbotron-fluid text-center four" id="four">
    <div style="background-image: url('https://cdn.dribbble.com/users/2639810/screenshots/11471430/media/cf097aeabc8eeb629c0d8e6f3269668a.jpg');">
        <br>
        <h2 style="color: yellow;text-align: center; font-weight: bolder; ">KHUNG CHƯƠNG TRÌNH</h2>
        <div style="background-color: #d5ebff;">
            <br>
            <div class="container" style=" text-align: center;">
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Career <br> Orientation
              </button><i class='fas fa-angle-double-right' style='font-size:18px;color:rgb(255, 123, 0)'></i>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">- Định hướng phát triển và cơ hội nghề nghiệp
                      <br> -Giới thiệu về kiến thức doanh nghiệp CNTT
                      <br>- Khung Chương Trình theo tiêu chuẩn doanh nghiệp</a>


                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Database <br> System
            </button><i class='fas fa-angle-double-right' style='font-size:18px;color:rgb(255, 123, 0)'></i>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">1.Định nghĩa về Data cơ bản, luồng<br> điều khiển và thao tác cơ sở dữ liệu trong SQL
                          <br> - Hiểu được các khái niệm cơ bản<br> về Database(DBMS,RDBMS, ERD) -
                          <br> Có thể đọc hiểu thiết kế Database,
                          <br> câu lệnh query SQL - Tránh được các<br> lỗi thiết kế chung và áp dụng 1 vài tip để nâng cao hiệu năng của câu query SQL
                          <br> 2. Câu lệnh DML nâng cao
                          <br> - UNION, CASE, JOIN, Sub Queriese<br> và các tính năng mới của SQL Serve , My SQL
                          <br> - Thực hành viết câu lệnh SQL
                          <br> 3. Lập trình SQL với stored procedures, functions, triggers
                          <br> 4.Review các chủ đề đã học & Final Test</a>


                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Back-End<br>Basic
          </button><i class='fas fa-angle-double-right' style='font-size:18px;color:rgb(255, 123, 0)'></i>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><em style="color: blue;"> JAVA CORE</em>
                          <br> 1.Các kỹ thuật lập trình Java cơ bản
                          <br> Các kiểu dữ liệu, các luồng điều khiển <br>(for, while, if else, switch case, break, continue), static
                          <br> 2. OOP trong Java(4 tính chất OOP,<br> các phạm vi truy cập, class, inner class, )
                          <br> 3.Collection & generic
                          <br> 4. Xử lí Exception & các class Utility
                          <br> 5. Làm việc với File
                          <br> 6. Kết nối với Database + Java Code Review
                          <br> 7. Tìm hiểu về Maven
                          <br> 8.Review các chủ đề đã học & Final Exam</a>


                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Back-End<br>Advanced
        </button><i class='fas fa-angle-double-right' style='font-size:18px;color:rgb(255, 123, 0)'></i>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><em style=" color: blue; ">JAVA WEB</em>
                          <br> 1. Servelet & JSP , MVC & JSP Models
                          <br> Tìm hiểu Architecture của ServeLet và<br> thiết kế website thông qua ServeLet & JSP
                          <br> 2. Spring MVC
                          <br> Tối ưu website với Spring MVC
                          <br> 3.Spring Boot (JPA, Rest, API...)
                          <br> Học sử dụng các framework thông dụng<br> trong làm việc với SpringBoot và JPA
                          <br> Thiết kế Restful API
                          <br> Automated Unit Testing với Junit
                          <br> 5. Review các chủ đề đã học và Final Exam</a>


                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Front-End<br>Basic
      </button><i class='fas fa-angle-double-right' style='font-size:18px;color:rgb(255, 123, 0)'></i>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">1. Bạn sẽ thấy quá trình phát triển Web<br> hoàn chỉnh từ dự án Bắt Đầu đến kết thúc ...
                          <br> 2.HTML5, CSS3, JQuery, và bootstrap Framework
                          <br> Bạn sẽ học được các cách code mới và áp dụng các <br>tips & tricks và thực hành để phát triển 1 website
                          <br> Bạn có thể xây dụng được trang<br> web responsive phù hợp với tất cả các màn hình
                          <br> 5. Bạn sẽ học về CSS3 Media Queriese<br> áp dụng vào thiết kế responsive cho website
                          <br> Bạn sẽ hoàn thành Source Code cho responsive website.
                          <br> (-Xây dựng User Inter - Face trong dự án
                          <br> - Ứng dụng HTML5 , CSS3, JavaScript, Jquery,<br> Ajax, vào tạo giao diện website
                          <br> - Áp dụng được framework để thực hiện thiết kế giao diện )</a>


                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Front-End<br>Advanced
    </button><i class='fas fa-angle-double-right' style='font-size:18px;color:rgb(255, 123, 0)'></i>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">1. Tự tin nói về các khái niệm<br> quan trọng trong angular
                          <br> 2. Giải mã phỏng vấn về Angular
                          <br> 3. Giải quyết các bug và issue <br>phổ biến nhất trong các ứng dụng Angular
                          <br> 4. Bảo mật các ứng dụng Angular bằng <br>JWT Authentication
                          <br> 5. Tạo Unit test cases cho các ứng dụng Angular
                          <br> 6. Tạo ứng dụng Angular từ Scratch và<br> phát triển ứng dụng
                          <br> 7. Tạo Structure của ứng dụng Angular với inclus-try
                          <br> 8. kết nối Angular với bất kỳ <br>công nghệ phát triển Serve nào<br> (ASP.net , Core MVC , NodeJS, Phython, Java etc),
                          <br> để trở thành 1 Full-stack developer <br>và có thể có cơ hội để phát triển trong ngành IT
                          <br> 9. Tạo Professonal Dashboard với ease
                          <br> (-Nâng cao kỹ năng mềm cần thiết
                          <br> -Có khả năng teamwork)</a>


                    </div>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MOCK
          <br> Project
  </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">- Phát triển dự án theo các mô
                          <br> hình ứng dụng Aglie/WaterFall
                          <br> - Tham gia các dự án<br>  thực tế theo nhóm
                          <br> - Áp dụng thành thạo các<br>  quy trình,template cơ bản<br>  đạt chuẩn CMMI, ISO
                          <br> - Trực tiếp từng bước phát triển<br>  dự án theo chuẩn quốc tế
                          <br> - Đáp ứng các yêu cầu khắt khe<br>  của một sản phẩm thật sự
                          <br> - Bảo vệ dự án với sản phẩm<br>  thực tế  với các PM<br>  và phỏng vấn làm việc</a>


                    </div>
                </div>

            </div>
            <br>
        </div>


        <div class="container my-4">





            <button id="modalActivate" style="background-color:yellow; font-size: 20px; font-weight: normal;text-shadow: black 0.1em 0.1em 0.2em;width: 200px; " type="button" class="btn btn-primary rounded-0" data-toggle="modal" data-target="#exampleModalPreview">
    Xem Chi Tiết
</button>
            <!-- Modal -->
            <div class="modal fade right" id="exampleModalPreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
                <div class="modal-dialog-full-width modal-dialog momodel modal-fluid" role="document">
                    <div class="modal-content-full-width modal-content ">
                        <div class=" modal-header-full-width   modal-header text-center">
                            <h5 class="modal-title w-100" id="exampleModalPreviewLabel">Xem Chi Tiết</h5>
                            <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                    <span style="font-size: 1.3em;" aria-hidden="true">&times;</span>
                </button>
                        </div>
                        <div class="container modal-body-centered">
                            <table class=" table ">
                                <thead class="thead">
                                    <tr class="table-info">
                                        <th scope="col">Career <br> Orientation</th>
                                        <th scope="col">Database System</th>
                                        <th scope="col">BackEnd - Basic</th>
                                        <th scope="col">BackEnd - Advanced</th>
                                        <th scope="col">FrontEnd - Basic</th>
                                        <th scope="col">FrontEnd - Advanced</th>
                                        <th scope="col">MOCK Project</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">- Định hướng phát triển và cơ hội nghề nghiệp
                                            <br> -Giới thiệu về kiến thức doanh nghiệp CNTT
                                            <br>- Khung Chương Trình theo tiêu chuẩn doanh nghiệp</th>
                                        <td>1.Định nghĩa về Data cơ bản, luồng điều khiển và thao tác cơ sở dữ liệu trong SQL
                                            <br> - Hiểu được các khái niệm cơ bản về Database(DBMS,RDBMS, ERD) -
                                            <br> Có thể đọc hiểu thiết kế Database,
                                            <br> câu lệnh query SQL - Tránh được các lỗi thiết kế chung và áp dụng 1 vài tip để nâng cao hiệu năng của câu query SQL
                                            <br> 2. Câu lệnh DML nâng cao
                                            <br> - UNION, CASE, JOIN, Sub Queriese và các tính năng mới của SQL Serve , My SQL
                                            <br> - Thực hành viết câu lệnh SQL
                                            <br> 3. Lập trình SQL với stored procedures, functions, triggers
                                            <br> 4.Review các chủ đề đã học & Final Test</td>
                                        <td><em style="color: blue;"> JAVA CORE</em>
                                            <br> 1.Các kỹ thuật lập trình Java cơ bản
                                            <br> Các kiểu dữ liệu, các luồng điều khiển (for, while, if else, switch case, break, continue), static
                                            <br> 2. OOP trong Java(4 tính chất OOP, các phạm vi truy cập, class, inner class, )
                                            <br> 3.Collection & generic
                                            <br> 4. Xử lí Exception & các class Utility
                                            <br> 5. Làm việc với File
                                            <br> 6. Kết nối với Database + Java Code Review
                                            <br> 7. Tìm hiểu về Maven
                                            <br> 8.Review các chủ đề đã học & Final Exam</td>
                                        <td><em style=" color: blue; ">JAVA WEB</em>
                                            <br> 1. Servelet & JSP , MVC & JSP Models
                                            <br> Tìm hiểu Architecture của ServeLet và thiết kế website thông qua ServeLet & JSP
                                            <br> 2. Spring MVC
                                            <br> Tối ưu website với Spring MVC
                                            <br> 3.Spring Boot (JPA, Rest, API...)
                                            <br> Học sử dụng các framework thông dụng trong làm việc với SpringBoot và JPA
                                            <br> Thiết kế Restful API
                                            <br> Automated Unit Testing với Junit
                                            <br> 5. Review các chủ đề đã học và Final Exam</td>
                                        <td>1. Bạn sẽ thấy quá trình phát triển Web hoàn chỉnh từ dự án Bắt Đầu đến kết thúc ...
                                            <br> 2.HTML5, CSS3, JQuery, và bootstrap Framework
                                            <br> Bạn sẽ học được các cách code mới và áp dụng các tips & tricks và thực hành để phát triển 1 website
                                            <br> Bạn có thể xây dụng được trang web responsive phù hợp với tất cả các màn hình
                                            <br> 5. Bạn sẽ học về CSS3 Media Queriese áp dụng vào thiết kế responsive cho website
                                            <br> Bạn sẽ hoàn thành Source Code cho responsive website.
                                            <br> (-Xây dựng User Inter - Face trong dự án
                                            <br> - Ứng dụng HTML5 , CSS3, JavaScript, Jquery, Ajax, vào tạo giao diện website
                                            <br> - Áp dụng được framework để thực hiện thiết kế giao diện )</td>
                                        <td>1. Tự tin nói về các khái niệm quan trọng trong angular
                                            <br> 2. Giải mã phỏng vấn về Angular
                                            <br> 3. Giải quyết các bug và issue phổ biến nhất trong các ứng dụng Angular
                                            <br> 4. Bảo mật các ứng dụng Angular bằng JWT Authentication
                                            <br> 5. Tạo Unit test cases cho các ứng dụng Angular
                                            <br> 6. Tạo ứng dụng Angular từ Scratch và phát triển ứng dụng
                                            <br> 7. Tạo Structure của ứng dụng Angular với inclus-try
                                            <br> 8. kết nối Angular với bất kỳ công nghệ phát triển Serve nào (ASP.net , Core MVC , NodeJS, Phython, Java etc),
                                            <br> để trở thành 1 Full-stack developer và có thể có cơ hội để phát triển trong ngành IT
                                            <br> 9. Tạo Professonal Dashboard với ease
                                            <br> (-Nâng cao kỹ năng mềm cần thiết
                                            <br> -Có khả năng teamwork)</td>
                                        <td>- Phát triển dự án theo các mô hình ứng dụng Aglie/WaterFall
                                            <br> - Tham gia các dự án thực tế theo nhóm
                                            <br> - Áp dụng thành thạo các quy trình, template cơ bản đạt chuẩn CMMI, ISO
                                            <br> - Trực tiếp từng bước phát triển dự án theo chuẩn quốc tế
                                            <br> - Đáp ứng các yêu cầu khắt khe của một sản phẩm thật sự
                                            <br> - Bảo vệ dự án với sản phẩm thực tế với các PM và phỏng vấn làm việc</td>
                                    </tr>

                                </tbody>
                            </table>
                            <!-- <table class="table">
                                <thead class="thead-blue" style="color:white">
                                    <tr class="bg-primary">
                                        <th scope="col">Career <br> Orientation</th>
                                        <th scope="col">Database System</th>
                                        <th scope="col">BackEnd - Basic</th>
                                        <th scope="col">BackEnd - Advanced</th>
                                        <th scope="col">FrontEnd - Basic</th>
                                        <th scope="col">FrontEnd - Advanced</th>
                                        <th scope="col">MOCK Project</th>
                                    </tr>
                                </thead>
                                <tbody style="background-color: rgb(253, 253, 253);">
                                    <tr>
                                        <th scope="row">- Định hướng phát triển và cơ hội nghề nghiệp
                                            <br> -Giới thiệu về kiến thức doanh nghiệp CNTT
                                            <br>- Khung Chương Trình theo tiêu chuẩn doanh nghiệp</th>
                                        <td>1.Định nghĩa về Data cơ bản, luồng điều khiển và thao tác cơ sở dữ liệu trong SQL
                                            <br> - Hiểu được các khái niệm cơ bản về Database(DBMS,RDBMS, ERD) -
                                            <br> Có thể đọc hiểu thiết kế Database,
                                            <br> câu lệnh query SQL - Tránh được các lỗi thiết kế chung và áp dụng 1 vài tip để nâng cao hiệu năng của câu query SQL
                                            <br> 2. Câu lệnh DML nâng cao
                                            <br> - UNION, CASE, JOIN, Sub Queriese và các tính năng mới của SQL Serve , My SQL
                                            <br> - Thực hành viết câu lệnh SQL
                                            <br> 3. Lập trình SQL với stored procedures, functions, triggers
                                            <br> 4.Review các chủ đề đã học & Final Test</td>
                                        <td> <em style="color: blue;"> JAVA CORE</em>
                                            <br> 1.Các kỹ thuật lập trình Java cơ bản
                                            <br> Các kiểu dữ liệu, các luồng điều khiển (for, while, if else, switch case, break, continue), static
                                            <br> 2. OOP trong Java(4 tính chất OOP, các phạm vi truy cập, class, inner class, )
                                            <br> 3.Collection & generic
                                            <br> 4. Xử lí Exception & các class Utility
                                            <br> 5. Làm việc với File
                                            <br> 6. Kết nối với Database + Java Code Review
                                            <br> 7. Tìm hiểu về Maven
                                            <br> 8.Review các chủ đề đã học & Final Exam</td>
                                        <td><em style=" color: blue; ">JAVA WEB</em>
                                            <br> 1. Servelet & JSP , MVC & JSP Models
                                            <br> Tìm hiểu Architecture của ServeLet và thiết kế website thông qua ServeLet & JSP
                                            <br> 2. Spring MVC
                                            <br> Tối ưu website với Spring MVC
                                            <br> 3.Spring Boot (JPA, Rest, API...)
                                            <br> Học sử dụng các framework thông dụng trong làm việc với SpringBoot và JPA
                                            <br> Thiết kế Restful API
                                            <br> Automated Unit Testing với Junit
                                            <br> 5. Review các chủ đề đã học và Final Exam</td>
                                        <td>1. Bạn sẽ thấy quá trình phát triển Web hoàn chỉnh từ dự án Bắt Đầu đến kết thúc ...
                                            <br> 2.HTML5, CSS3, JQuery, và bootstrap Framework
                                            <br> Bạn sẽ học được các cách code mới và áp dụng các tips & tricks và thực hành để phát triển 1 website
                                            <br> Bạn có thể xây dụng được trang web responsive phù hợp với tất cả các màn hình
                                            <br> 5. Bạn sẽ học về CSS3 Media Queriese áp dụng vào thiết kế responsive cho website
                                            <br> Bạn sẽ hoàn thành Source Code cho responsive website.
                                            <br> (-Xây dựng User Inter - Face trong dự án
                                            <br> - Ứng dụng HTML5 , CSS3, JavaScript, Jquery, Ajax, vào tạo giao diện website
                                            <br> - Áp dụng được framework để thực hiện thiết kế giao diện )</td>
                                        <td>1. Tự tin nói về các khái niệm quan trọng trong angular
                                            <br> 2. Giải mã phỏng vấn về Angular
                                            <br> 3. Giải quyết các bug và issue phổ biến nhất trong các ứng dụng Angular
                                            <br> 4. Bảo mật các ứng dụng Angular bằng JWT Authentication
                                            <br> 5. Tạo Unit test cases cho các ứng dụng Angular
                                            <br> 6. Tạo ứng dụng Angular từ Scratch và phát triển ứng dụng
                                            <br> 7. Tạo Structure của ứng dụng Angular với inclus-try
                                            <br> 8. kết nối Angular với bất kỳ công nghệ phát triển Serve nào (ASP.net , Core MVC , NodeJS, Phython, Java etc),
                                            <br> để trở thành 1 Full-stack developer và có thể có cơ hội để phát triển trong ngành IT
                                            <br> 9. Tạo Professonal Dashboard với ease
                                            <br> (-Nâng cao kỹ năng mềm cần thiết
                                            <br> -Có khả năng teamwork)</td>
                                        <td>- Phát triển dự án theo các mô hình ứng dụng Aglie/WaterFall
                                            <br> - Tham gia các dự án thực tế theo nhóm
                                            <br> - Áp dụng thành thạo các quy trình, template cơ bản đạt chuẩn CMMI, ISO
                                            <br> - Trực tiếp từng bước phát triển dự án theo chuẩn quốc tế
                                            <br> - Đáp ứng các yêu cầu khắt khe của một sản phẩm thật sự
                                            <br> - Bảo vệ dự án với sản phẩm thực tế với các PM và phỏng vấn làm việc</td>
                                    </tr>

                                </tbody>
                            </table> -->
                        </div>

                    </div>
                </div>
            </div>

        </div>



        <!-- <br>

        <button type="button" style="background-color:yellow; font-size: 20px; font-weight: normal;text-shadow: black 0.1em 0.1em 0.2em;width: 200px; " class="btn btn-primary rounded-0 " data-toggle="modal" data-target="#exampleModalLong">
  Xem Chi Tiết
</button>

        <br>
        <br>


        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog float-sm-left" role="document">
                <div class="modal-content w-auto">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Xem Chi Tiết</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead class="thead-blue" style="color:white">
                                <tr class="bg-primary">
                                    <th scope="col">Career Orientation</th>
                                    <th scope="col">Database System</th>
                                    <th scope="col">BackEnd - Basic</th>
                                    <th scope="col">BackEnd - Advanced</th>
                                    <th scope="col">FrontEnd - Basic</th>
                                    <th scope="col">FrontEnd - Advanced</th>
                                    <th scope="col">MOCK Project</th>
                                </tr>
                            </thead>
                            <tbody style="background-color: rgb(253, 253, 253);">
                                <tr>
                                    <th scope="row">- Định hướng phát triển và cơ hội nghề nghiệp
                                        <br> -Giới thiệu về kiến thức doanh nghiệp CNTT
                                        <br>- Khung Chương Trình theo tiêu chuẩn doanh nghiệp</th>
                                    <td>1.Định nghĩa về Data cơ bản, luồng điều khiển và thao tác cơ sở dữ liệu trong SQL
                                        <br> - Hiểu được các khái niệm cơ bản về Database(DBMS,RDBMS, ERD) -
                                        <br> Có thể đọc hiểu thiết kế Database,
                                        <br> câu lệnh query SQL - Tránh được các lỗi thiết kế chung và áp dụng 1 vài tip để nâng cao hiệu năng của câu query SQL
                                        <br> 2. Câu lệnh DML nâng cao
                                        <br> - UNION, CASE, JOIN, Sub Queriese và các tính năng mới của SQL Serve , My SQL
                                        <br> - Thực hành viết câu lệnh SQL
                                        <br> 3. Lập trình SQL với stored procedures, functions, triggers
                                        <br> 4.Review các chủ đề đã học & Final Test</td>
                                    <td> <em style="color: blue;"> JAVA CORE</em>
                                        <br> 1.Các kỹ thuật lập trình Java cơ bản
                                        <br> Các kiểu dữ liệu, các luồng điều khiển (for, while, if else, switch case, break, continue), static
                                        <br> 2. OOP trong Java(4 tính chất OOP, các phạm vi truy cập, class, inner class, )
                                        <br> 3.Collection & generic
                                        <br> 4. Xử lí Exception & các class Utility
                                        <br> 5. Làm việc với File
                                        <br> 6. Kết nối với Database + Java Code Review
                                        <br> 7. Tìm hiểu về Maven
                                        <br> 8.Review các chủ đề đã học & Final Exam</td>
                                    <td><em style=" color: blue; ">JAVA WEB</em>
                                        <br> 1. Servelet & JSP , MVC & JSP Models
                                        <br> Tìm hiểu Architecture của ServeLet và thiết kế website thông qua ServeLet & JSP
                                        <br> 2. Spring MVC
                                        <br> Tối ưu website với Spring MVC
                                        <br> 3.Spring Boot (JPA, Rest, API...)
                                        <br> Học sử dụng các framework thông dụng trong làm việc với SpringBoot và JPA
                                        <br> Thiết kế Restful API
                                        <br> Automated Unit Testing với Junit
                                        <br> 5. Review các chủ đề đã học và Final Exam</td>
                                    <td>1. Bạn sẽ thấy quá trình phát triển Web hoàn chỉnh từ dự án Bắt Đầu đến kết thúc ...
                                        <br> 2.HTML5, CSS3, JQuery, và bootstrap Framework
                                        <br> Bạn sẽ học được các cách code mới và áp dụng các tips & tricks và thực hành để phát triển 1 website
                                        <br> Bạn có thể xây dụng được trang web responsive phù hợp với tất cả các màn hình
                                        <br> 5. Bạn sẽ học về CSS3 Media Queriese áp dụng vào thiết kế responsive cho website
                                        <br> Bạn sẽ hoàn thành Source Code cho responsive website.
                                        <br> (-Xây dựng User Inter - Face trong dự án
                                        <br> - Ứng dụng HTML5 , CSS3, JavaScript, Jquery, Ajax, vào tạo giao diện website
                                        <br> - Áp dụng được framework để thực hiện thiết kế giao diện )</td>
                                    <td>1. Tự tin nói về các khái niệm quan trọng trong angular
                                        <br> 2. Giải mã phỏng vấn về Angular
                                        <br> 3. Giải quyết các bug và issue phổ biến nhất trong các ứng dụng Angular
                                        <br> 4. Bảo mật các ứng dụng Angular bằng JWT Authentication
                                        <br> 5. Tạo Unit test cases cho các ứng dụng Angular
                                        <br> 6. Tạo ứng dụng Angular từ Scratch và phát triển ứng dụng
                                        <br> 7. Tạo Structure của ứng dụng Angular với inclus-try
                                        <br> 8. kết nối Angular với bất kỳ công nghệ phát triển Serve nào (ASP.net , Core MVC , NodeJS, Phython, Java etc),
                                        <br> để trở thành 1 Full-stack developer và có thể có cơ hội để phát triển trong ngành IT
                                        <br> 9. Tạo Professonal Dashboard với ease
                                        <br> (-Nâng cao kỹ năng mềm cần thiết
                                        <br> -Có khả năng teamwork)</td>
                                    <td>- Phát triển dự án theo các mô hình ứng dụng Aglie/WaterFall
                                        <br> - Tham gia các dự án thực tế theo nhóm
                                        <br> - Áp dụng thành thạo các quy trình, template cơ bản đạt chuẩn CMMI, ISO
                                        <br> - Trực tiếp từng bước phát triển dự án theo chuẩn quốc tế
                                        <br> - Đáp ứng các yêu cầu khắt khe của một sản phẩm thật sự
                                        <br> - Bảo vệ dự án với sản phẩm thực tế với các PM và phỏng vấn làm việc</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div> -->


        <br>
    </div>

</div>


<!-- <div class="btn-group">
  <button type="button" class="btn btn-danger dropdown rounded" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Action
</button>
  <div class="dropdown-menu">
      <a class="dropdown-item" href="#">- Định hướng phát triển và cơ hội nghề nghiệp
        <br> -Giới thiệu về kiến thức doanh nghiệp CNTT
        <br>- Khung Chương Trình theo tiêu chuẩn doanh nghiệp</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div> -->
