<div class="container-fluid jumbotron-fluid text-center three" id="three">

    <div style="background-image: url('https://cdn.dribbble.com/users/2639810/screenshots/11471430/media/cf097aeabc8eeb629c0d8e6f3269668a.jpg');">
        <br>
        <h2>Tại Sao Lựa Chọn Chúng Tôi</h2>
        <br>
        <div class="container pb-5 ">
            <div class="row">
                <div class="col col1">
                    <p>Chương Trình Đào Tạo <em>Chuẩn</em>Doanh Nghiệp CNTT</p>
                </div>
                <div class="col col2">
                    <p>200 Giờ Học <em>OFFLINE </em> & Học <em>ONLINE</em> Mọi Lúc Mọi Nơi</p>
                </div>
                <div class="col col3">
                    <p><em>MENTOR</em>
                        <br> Thực Chiến Cầm Tay Chỉ Việc</p>
                </div>
                <div class="col col4">
                    <p>Tham Gia Dự Án Tập Trận
                        <br><em>MOCK PROJECT</em></p>
                </div>
                <div class="col col5">
                    <p><em>CAM KẾT</em> Làm Việc Ngay Với Mức Thu Nhập Từ <em>8-10 Triệu</em></p>
                </div>
            </div>
        </div>

    </div>







</div>
