<div class="jumbotron-fluid text-center one" id="one">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./assets/img/banner.jpg" alt="Los Angeles" width="1100" height="500">
                <div class="carousel-caption">
                    <div class="container text-left">
                        <div class="row">
                            <div class="col-sm-4">
                                <button class="btn btn-dark">Đăng Ký Ngay</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="carousel-item active">
                <img src="./assets/img/banner.jpg" alt="Los Angeles" width="1100" height="500">
                <div class="carousel-caption">
                    <div class="container text-left">
                        <div class="row">
                            <div class="col-sm-4">
                                <button class="btn btn-dark">Đăng Ký Ngay</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="carousel-item active">
                <img src="./assets/img/banner.jpg" alt="Los Angeles" width="1100" height="500">
                <div class="carousel-caption">
                    <div class="container text-left">
                        <div class="row">
                            <div class="col-sm-4">
                                <button class="btn btn-dark">Đăng Ký Ngay</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <marquee><i class="fas fa-map-marker-alt"></i> Tầng 7 Số 19 - Lê Thanh Nghị - Hai Bà Chưng - Hà Nội | Tầng 6 - Tòa nhà AC - Số 78 - Duy Tân - Cầu Giấy - Hà Nội &nbsp; <i class="fas fa-phone-alt"></i> 0865. 359. 388 | 0243 3668 8599 </marquee>

</div>
