<div class="container">

    <div class="row">
        <div routerLink="/posts" class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <img src="./assets/images/ldp06.png" class="img-fluid" alt="Responsive image">
                <div class="card-body">
                    <p class="card-text">Landing Page Jave Web</p>
                    <div class="d-flex justify-content-between align-items-center">

                        <button type="button" class="btn btn-sm btn-outline-secondary">Xem Chi Tiết</button>


                        <small class="text-muted">Last Update: 9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <img src="./assets/images/ldp04.png" class="img-fluid" alt="Responsive image">
                <div class="card-body">
                    <p class="card-text">Landing Page .Net</p>
                    <div class="d-flex justify-content-between align-items-center">

                        <button type="button" class="btn btn-sm btn-outline-secondary">Xem Chi Tiết</button>


                        <small class="text-muted">Last Update: 9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <img src="./assets/images/ldp05.png" class="img-fluid" alt="Responsive image">
                <div class="card-body">
                    <p class="card-text">Landing Page PHP</p>
                    <div class="d-flex justify-content-between align-items-center">

                        <button type="button" class="btn btn-sm btn-outline-secondary">Xem Chi Tiết</button>


                        <small class="text-muted">Last Update: 9 mins</small>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>