<div class="jumbotron-fluid text-center two" id="two">
    <div class="container">
        <div class="row">

            <div class="col-sm-5">

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6WJw2UlluYE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>
            </div>
            <div class="col-sm-7">
                <h2>Hoàn Thành Khóa Đào Tạo <em style=" color: blue;
                font-style: normal;font-weight: bolder;">JAVA WEB</em> Bạn Sẽ </h2>
                <ul class="list-group list-group-flush float-left">

                    <li class="list-group-item"><i class="fa fa-circle" style="font-size:10px;color:#e6bd31;">&nbsp;</i>&nbsp;Trở Thành Lập Trình Viên Chuyên Nghiệp Full - Stack</li>
                    <li class="list-group-item"><i class="fa fa-circle" style="font-size:10px;color:#e6bd31;">&nbsp;</i>&nbsp;Sử Dụng Thành Thạo Ngôn Ngữ JavaScript và Java</li>
                    <li class="list-group-item"><i class="fa fa-circle" style="font-size:10px;color:#e6bd31;">&nbsp;</i>&nbsp;Xây Dựng và thao tác thành thạo tạo cơ sở dữ liệu</li>
                    <li class="list-group-item"><i class="fa fa-circle" style="font-size:10px;color:#e6bd31;">&nbsp;</i>&nbsp;Sử dụng được các công cụ lập trình phần mềm hiện đại</li>
                    <li class="list-group-item"><i class="fa fa-circle" style="font-size:10px;color:#e6bd31;">&nbsp;</i>&nbsp;Tham gia tốt vào nhóm phát triển phần mềm agile </li>
                    <li class="list-group-item"><i class="fa fa-circle" style="font-size:10px;color:#e6bd31;">&nbsp;</i>&nbsp;Giàu kinh nghiệm thực tế trong các dự án thật tại doanh nghiệp</li>
                </ul>
                <!-- <ul class="list-group">
                  <li class="list-group-item active">Hoàn thành khóa học bạn sẽ nhận được</li>
                  <li >Trở Thành Lập Trình Viên Chuyên Nghiệp Full - Stack</li>
                  <li >Sử Dụng Thành Thạo Ngôn Ngữ JavaScript và Java</li>
                  <li >Xây Dựng và thao tác thành thạo tạo cơ sở dữ liệu</li>
                  <li >Sử dụng được các công cụ lập trình phần mềm hiện đại </li>
                  <li >Tham gia tốt vào nhóm phát triển phần mềm agile </li>
                  <li >Giàu kinh nghiệm thực tế trong các dự án thật tại doanh nghiệp</li>
              </ul> -->
            </div>
        </div>
    </div>
    <br>

</div>
