<div class="jumbotron-fluid text-center five" id="five">
    <br>
    <div class="mx-auto p-1 btn-danger text-white text-center" style="width: 200px; height: 40px; margin-bottom: 15px; font-size: 20px;line-height: 30px; font-weight: bolder; border-radius: 30px;">
        Đăng Ký Ngay
    </div>
    <div class="container">
        <h3 class="centered" style="color: #0f355c;font-weight: bolder;">Đội Ngũ Mentor</h3>
        <br>
        <div class="row">
            <div class="col-sm-4 centered">
                <img width="200" height="200" src="./assets/img/team.png" style="border-radius: 100px;" alt="...">
                <h3>Nguyễn Quyết</h3>
                <p>Chuyên Gia Công Nghệ thông tin</p>
            </div>
            <div class="col-sm-4 centered">
                <img width="200" height="200" src="./assets/img/team2.png" style="border-radius: 100px;" alt="...">
                <h3>Trần Xuân Khôi</h3>
                <p>Chuyên Gia Công Nghệ thông tin <br> hàng đầu việt nam</p>
            </div>
            <div class="col-sm-4 centered">
                <img width="200" height="200" src="./assets/img/team3.png" style="border-radius: 100px;" alt="...">
                <h3>Nguyễn Duy</h3>
                <p>Giảng viên Java Web</p>
            </div>
        </div>
    </div>

</div>
