<div class="jumbotron-fluid text-center seven" id="seven">
    <div style="background-color:#0e3959;">
        <br>
        <h2 style="color: #e4bd31; font-weight: bolder; font-size:xx-large; text-align: center;">HOẠT ĐỘNG CỦA LỚP HỌC</h2>
        <br>
        <div style="margin-bottom:40px" class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img height="700" src="./assets/img/lophoc1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img height="700" src="./assets/img/lophoc2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img height="700" src="./assets/img/lophoc3.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <br>
    </div>

</div>